# Problem statement:
get the count of unique categories on the basis of particular column

In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv('agg_data.csv',index_col=[0])

In [2]:
df.head() # The dataset is look like this about the diamond

   carat      cut clarity  depth
1   0.23    Ideal     SI2     62
2   0.21  Premium     SI1     60
3   0.23     Good     VS1     57
4   0.29  Premium     VS2     62
5   0.31     Good     SI2     63

In [11]:
df = df.iloc[:300,:]

In [9]:
df

     carat        cut clarity  depth
1     0.23      Ideal     SI2     62
2     0.21    Premium     SI1     60
3     0.23       Good     VS1     57
4     0.29    Premium     VS2     62
5     0.31       Good     SI2     63
..     ...        ...     ...    ...
296   0.74      Ideal     VS1     62
297   0.70       Fair    VVS1     59
298   0.80    Premium     SI2     61
299   1.01       Fair     SI2     67
300   0.80  Very Good     VS2     63

[300 rows x 4 columns]

In [12]:
df['depth'].value_counts()

62    96
61    64
63    52
60    30
64    22
59    13
58    10
65     4
66     3
57     2
55     2
68     1
67     1
Name: depth, dtype: int64

In [14]:
df.head()

   carat      cut clarity  depth
1   0.23    Ideal     SI2     62
2   0.21  Premium     SI1     60
3   0.23     Good     VS1     57
4   0.29  Premium     VS2     62
5   0.31     Good     SI2     63

In [16]:
df['cut'].value_counts()

Ideal        89
Premium      82
Very Good    82
Good         34
Fair         13
Name: cut, dtype: int64

In [17]:
df['depth'].value_counts()

62    96
61    64
63    52
60    30
64    22
59    13
58    10
65     4
66     3
57     2
55     2
68     1
67     1
Name: depth, dtype: int64

In [19]:
gby_df = df.groupby('depth')

In [20]:
gby_df

In [21]:
gby_df =gby_df.get_group(64)

In [23]:
gby_df.drop('carat', axis = 1, inplace=True)

C:\Users\Lenovo\anaconda3\lib\site-packages\pandas\core\frame.py:4110: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [24]:
gby_df.head()

          cut clarity  depth
11       Good     SI1     64
19       Good     SI1     64
22  Very Good     VS2     64
37       Good     VS1     64
38       Good     SI1     64

In [27]:
gby_df['clarity'].value_counts()

SI1    8
VS2    8
SI2    3
VS1    2
I1     1
Name: clarity, dtype: int64

In [28]:
gby_df['cut'].value_counts()

Good         11
Very Good     8
Fair          3
Name: cut, dtype: int64

In [ ]:
df 

id   si1 vs2 si2vs1 i1 good very good fair
64   8    8    3 2   1  11    8        3

In [29]:
df_id = df['depth'].unique()
df_id

array([62, 60, 57, 63, 65, 59, 64, 61, 58, 55, 66, 68, 67], dtype=int64)

In [31]:
column_list = ['cut', 'clarity']

In [32]:
emty_df = pd.DataFrame()

In [ ]:
for gid in df_id:
    emty_df = emty_df.append(gby_df(gid), ignore_index=True)   #get df on every id
    for i in column_list:
        abc = emty_df[i].value_counts()     #vc on every id
        xyz = pd.DataFrame(columns=abc.index)
        xyz = pd.DataFrame(xyz.append(abc))
        print("DataFrame Agg.: ",xyz.head())
        break

In [ ]:
  for uc in self.unique_id(): #iterate through unique id
            gby_df = gby_df.append(Primary_col_gby.get_group(uc),ignore_index=True)
    
            for i in self.column_list(): # iterate through column names
                abc = gby_df[i].value_counts()
                xyz = pd.DataFrame(columns=abc.index)
                xyz = pd.DataFrame(xyz.append(abc))
                print("DataFrame Agg.: ",xyz.head())
                break

In [4]:
df['cut'].value_counts()

Ideal        21551
Premium      13791
Very Good    12082
Good          4906
Fair          1610
Name: cut, dtype: int64

In [5]:
# groupby using cut and get the no of unique cat
unique_cut = df['cut'].unique()
unique_cut

array(['Ideal', 'Premium', 'Good', 'Very Good', 'Fair'], dtype=object)

In [98]:
cut_gby = df.groupby(['cut'])

In [95]:
column_list = [x for x in df.columns if x !='cut']

In [96]:
column_list

['carat', 'clarity', 'depth']

In [99]:
# Empty data frame
gby_df = pd.DataFrame()

In [100]:
for uc in unique_cut:
    gby_df = gby_df.append(cut_gby.get_group(uc),ignore_index=True)
    
    for i in column_list:
        abc = gby_df[i].value_counts()
        xyz = pd.DataFrame(columns=abc.index)
        xyz = pd.DataFrame(xyz.append(abc))
        print("DataFrame Agg.: ",xyz.head())
    break

DataFrame Agg.:         0.30  0.31  0.32 0.33 0.41 0.70 0.40 0.51 0.34 0.71  ... 3.50 1.48  \
carat  1247  1209  1066  673  667  560  545  525  508  499  ...    1    1

      2.49 2.47 1.92 1.82 2.59 2.42 2.63 2.75
carat    1    1    1    1    1    1    1    1

[1 rows x 232 columns]
DataFrame Agg.:            VS2   SI1   VS1  VVS2   SI2  VVS1    IF   I1
clarity  5071  4282  3589  2606  2598  2047  1212  146
DataFrame Agg.:            62    61    63    60   59  64  65 58 43 67 66
depth  12771  5352  2004  1243  127  32  10  9  1  1  1

In [101]:
xyz.head()

          62    61    63    60   59  64  65 58 43 67 66
depth  12771  5352  2004  1243  127  32  10  9  1  1  1

In [102]:
abc = gby_df['clarity'].value_counts()
xyz = pd.DataFrame(columns=abc.index)
xyz = pd.DataFrame(xyz.append(abc))
xyz

          VS2   SI1   VS1  VVS2   SI2  VVS1    IF   I1
clarity  5071  4282  3589  2606  2598  2047  1212  146

In [149]:
class aggrigation:
    """For Aggrigation
    df -> input Main dataframe
    Primary_col_name -> insert GOC_ID"""
    def __init__(self,df,Primary_col_name='cut'): # I put this cut as default wrt my dataset
        
        self.df = df
        self.Primary_col_name = Primary_col_name
        
    def unique_id(self):
        """To get unique GOC_ID"""
        return [x for x in self.df[self.Primary_col_name].unique()]
    
    def column_list(self):
        """Get column list excluding Primary column
        Ex: in your dataset case its GOC_ID"""
        return [x for x in df.columns if x!= str(self.Primary_col_name)]
    
    def agg(self):
        """Finally get the output in data frame for each aggrigation"""
        gby_df = pd.DataFrame()
        Primary_col_gby = self.df.groupby([self.Primary_col_name])
        
        for uc in self.unique_id(): #iterate through unique id
            gby_df = gby_df.append(Primary_col_gby.get_group(uc),ignore_index=True)
    
            for i in self.column_list(): # iterate through column names
                abc = gby_df[i].value_counts()
                xyz = pd.DataFrame(columns=abc.index)
                xyz = pd.DataFrame(xyz.append(abc))
                print("DataFrame Agg.: ",xyz.head())
                break

In [150]:
agg = aggrigation(df)

In [151]:
agg.agg() # This is the final output wrt my dataset

DataFrame Agg.:         0.30  0.31  0.32 0.33 0.41 0.70 0.40 0.51 0.34 0.71  ... 3.50 1.48  \
carat  1247  1209  1066  673  667  560  545  525  508  499  ...    1    1

      2.49 2.47 1.92 1.82 2.59 2.42 2.63 2.75
carat    1    1    1    1    1    1    1    1

[1 rows x 232 columns]
DataFrame Agg.:         0.30  0.31  0.32  1.01  0.41 0.33 0.70 0.40 0.71 0.51  ... 2.59 3.24  \
carat  1844  1723  1476  1074  1016  979  974  860  774  756  ...    1    1

      1.99 3.05 2.77 1.96 2.68 1.95 2.64 1.94
carat    1    1    1    1    1    1    1    1

[1 rows x 260 columns]
DataFrame Agg.:         0.30  0.31  0.32  1.01  0.70  0.41  0.33  1.00  0.40 0.71  ... 3.05  \
carat  2061  1899  1570  1478  1264  1133  1013  1003  1001  895  ...    1

      2.77 1.96 2.68 1.95 2.64 2.59 1.92 3.50 2.67
carat    1    1    1    1    1    1    1    1    1

[1 rows x 263 columns]
DataFrame Agg.:         0.30  0.31  1.01  0.70  0.32  1.00  0.90  0.41  0.40  0.71  ... 3.22  \
carat  2584  2240  2117  1844  1837  1392  1381  1377  1290  1250  ...    1

      3.50 3.24 2.71 2.65 2.59 3.67 2.77 3.05 2.64
carat    1    1    1    1    1    1    1    1    1

[1 rows x 266 columns]
DataFrame Agg.:         0.30  0.31  1.01  0.70  0.32  1.00  0.90  0.41  0.40  0.71  ... 2.71  \
carat  2604  2249  2242  1981  1840  1558  1485  1382  1299  1294  ...    1

      2.65 3.67 3.50 3.22 3.05 2.77 2.59 2.64 4.50
carat    1    1    1    1    1    1    1    1    1

[1 rows x 273 columns]